<section class="topbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="assets/images/logo_agap2-314x44pxs.png">
          </a>
          <ul class="navbar-nav d-flex flex-row justify-content-around">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-arrow-left fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-arrow-down fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-arrow-right fa-2x"></i>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-phone fa-2x"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-list fa-2x"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>